/* Sidebar styles */
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255); 
  width: 60px; 
  height: 100vh;
  transition: width 0.3s ease;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 2px 0 5px #0000001a;
  z-index: 1000;
}

.sidebar:hover {
  width: 200px; 
}

.sidebar-button {
  background: none;
  border: none;
  color: #200E3A; 
  font-size: 1.2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar-button:hover {
  border: none;
  background-color: rgb(56, 65, 157); 
  color: white;
}

.icon {
  margin-right: 0; 
  transition: margin 0.3s ease;
}

.sidebar:hover .icon {
  margin-right: 10px;
}

.sidebar-text {
  font-size: 1rem;
  margin-left: 10px;
  opacity: 0;
  white-space: nowrap;
  overflow: hidden;
  transition: opacity 0.3s ease;
}

.sidebar:hover .sidebar-text {
  opacity: 1;
}
